.cen {
   
    margin-left: 40%;
  }
  .login {
   
    margin-left: 43%;
  }
.EmailButton
{
    direction: ltr;
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 225px;
    min-height: 33px;
    text-align: left;
    width: 100%;
}
.loginbutton
{
  margin-left: 10%;
  color: red;
}
